body {
    margin: 0;
    margin-top: -24px;
}
.header {
    background: #1F2937;
}
#header-logo {
    color: #f9faf8;
    font-size: 24px;
    margin: 10px;
}
#hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    margin: 10px;
    font-weight: bolder;
}
#hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    columns: auto;
    margin: 10px;
}
.sign-up-button {
    color:#e5e7eb;
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius:  6px;
    margin: 10px;
}
#image-one {
    width: 100px;
    height: auto;
}
.information-header {
    color: #1F2937;
    font-size: 36px;
    font: bolder;
    text-align: center;
}
.information-pictures {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
}
.quote {
    background-color: #e5e7eb;
}
#quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;
    text-align: center;
    margin: 10px;
}
.call-to-action {
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
    margin: 50px;
}